# Force LF for bash/make
Makefile           text eol=lf
*.sh               text eol=lf
backend/**         text eol=lf
frontend/**        text eol=lf

# PowerShell mag CRLF houden (Windows-vriendelijk)
*.ps1              text eol=crlf
