fastapi
uvicorn[standard]
gunicorn
pydantic-settings
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
alembic
passlib[argon2]
pyjwt
cryptography
redis
rq
boto3
pydantic[email]
email-validator
requests
msal>=1.31.0
croniter
urllib3>=2.6.3,<3
jaraco.context>=6.1.0
